/* ===== Pantalla Standby ===== */
#standby {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;      /* centrado y escalado */
  height: auto;
  z-index: 10;     /* encima de todo lo demás */
  pointer-events: none;
}